In [13]:
import csv
import pandas as pd

In [14]:
with open('abc.csv','w+') as abc:
    writer = csv.writer(abc)
    writer.writerow(['Title','Description'])
    writer.writerow(['Theri','Vj-Atlee film'])

In [15]:
df = pd.read_csv('abc.csv')

In [16]:
df

   Title    Description
0  Theri  Vj-Atlee film

In [17]:
with open('abc.csv','w+') as abc:
    writer = csv.writer(abc)
    writer.writerow(['Title','Description','Rating'])
    writer.writerow(['Theri','Vj-Atlee film','7'])
    writer.writerow(['Viswasam','Ak-Siva film','7'])

In [18]:
df = pd.read_csv('abc.csv')

In [19]:
df
#File is now over written

      Title    Description  Rating
0     Theri  Vj-Atlee film       7
1  Viswasam   Ak-Siva film       7

In [20]:
with open('abc.csv','a') as abc:
    writer = csv.writer(abc)
    writer.writerow(['Petta','Rajini-Karthik','8.5'])

#a means we are appending

In [21]:
df = pd.read_csv('abc.csv')

In [22]:
df

      Title     Description  Rating
0     Theri   Vj-Atlee film     7.0
1  Viswasam    Ak-Siva film     7.0
2     Petta  Rajini-Karthik     8.5

In [23]:
with open('abc.csv','w+') as abc:
    reader = csv.reader(abc)
    for row in reader:
        print(row)

In [24]:
df = pd.read_csv('abc.csv')
# It's showing empty data error because we read from a file using read&write operation so it has removed everything from the file

EmptyDataError: No columns to parse from file

In [25]:
with open('abc.csv','w+') as abc:
    writer = csv.writer(abc)
    writer.writerow(['Title','Description','Rating'])
    writer.writerow(['Theri','Vj-Atlee film','7'])
    writer.writerow(['Viswasam','Ak-Siva film','7'])

In [26]:
with open('abc.csv','a') as abc:
    writer = csv.writer(abc)
    writer.writerow(['Petta','Rajini-Karthik','8.5'])

#a means we are appending

In [27]:
df = pd.read_csv('abc.csv')

In [28]:
df
#we again created the dataframe

      Title     Description  Rating
0     Theri   Vj-Atlee film     7.0
1  Viswasam    Ak-Siva film     7.0
2     Petta  Rajini-Karthik     8.5

In [29]:
with open('abc.csv','r') as abc:
    reader = csv.reader(abc)
    for row in reader:
        print(row)

['Title', 'Description', 'Rating']
[]
['Theri', 'Vj-Atlee film', '7']
[]
['Viswasam', 'Ak-Siva film', '7']
[]
['Petta', 'Rajini-Karthik', '8.5']
[]

In [30]:
with open('abc.csv','r') as abc:
    reader = csv.DictReader(abc)
    for row in reader:
        print(row)

OrderedDict([('Title', 'Theri'), ('Description', 'Vj-Atlee film'), ('Rating', '7')])
OrderedDict([('Title', 'Viswasam'), ('Description', 'Ak-Siva film'), ('Rating', '7')])
OrderedDict([('Title', 'Petta'), ('Description', 'Rajini-Karthik'), ('Rating', '8.5')])