In [1]:
'hi {}'.format('Karthik')

'hi Karthik'

In [2]:
'hi %s' %('Karthik')

'hi Karthik'

In [3]:
'pi is {:.2f}'.format(3.142845)

'pi is 3.14'

In [4]:
d = {'1':'hi',2:'hello'}

In [5]:
'Karthik %s' %(d)

"Karthik {'1': 'hi', 2: 'hello'}"

In [6]:
'Karthik %(1)s' % d

'Karthik hi'

In [7]:
family = {'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart', 'lisa'],
 'mom': 'marge',
 'size': 6}

In [8]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

In [9]:
'hi %(kids)s' % family

"hi ['bart', 'lisa']"

In [10]:
for i in d:
    print(i)

1
2

In [11]:
for key,val in d.items():
    print(key," ",val)

1   hi
2   hello

In [12]:
for key1,val1 in enumerate(d):
    print(key1,val1)

0 1
1 2

In [13]:
l = [1,2,3,4]

In [14]:
[l1*2 for l1 in l]

[2, 4, 6, 8]

In [15]:
nums = [1, 2, 3, 4, 5]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [16]:
matrix = [[1, 2], [3, 4]]
items = []
items = [item for row in matrix for item in row]
items

[1, 2, 3, 4]